<h1>Questions</h1>
<h2><%= @quote %></h2>

<div id="questions"><%= render "questions" %></div>


<%= link_to 'New Question', new_question_path, remote: true %>

<div id="question-form" style="display:none;">